$red   : #ae4544;
$orange: #df9560;
$yellow: #f9c991;
$green : #a0b475;
$cyan  : #82c1b9;
$blue  : #79b0c0;
$purple: #bc8bac;
$brown : #a3684b;

$white : #ffffff;
$black : #000000;

$darkest-grey: #222;
$dark-grey   : #333;
$light-grey  : #999;