$icomoon-font-path: "../fonts" !default;

$icon-link: "\e909";
$icon-chevron-thin-down: "\e90a";
$icon-chevron-thin-up: "\e90b";
$icon-chevron-with-circle-right: "\e900";
$icon-chevron-with-circle-left: "\e901";
$icon-images: "\e902";
$icon-chevron-thin-right: "\e903";
$icon-chevron-thin-left: "\e904";
$icon-cloud-download: "\e905";
$icon-zoom-out: "\e906";
$icon-zoom-in: "\e907";
$icon-cross: "\e908";
$icon-spinner: "\e97a";

